.product{
    max-width: 250px;
    max-height: 400px;
    overflow: hidden;
    border: 2px solid #cccccc;
    border-radius: 6px;
    position: relative;
    color: black;
    font-weight: 600;
}

.product-image img{
    width: 100%;
}

.product-image span{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    color: white;
    padding: 5px 15px;
    background: rgb(165, 19, 19);
}

.product-info{
    padding: 10px;
}
.product-info h4{
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-container .old-price{
    text-decoration: line-through;
    color: gray;
}